body
{
  background: url("../images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav
{
  background-color: transparent  !important;
  border:none !important;
}

nav > div > div > a
{
  color: #FFFFFF !important;
  font-size: 200% !important;
  padding-left: 20px !important;
  padding-top: 20px !important;
  text-shadow: 0.5px 0.5px #000000 !important;
}

nav > div > div > ul > li > a
{
  color: #FFFFFF !important;
  text-shadow: 0.5px 0.5px #000000 !important;
  cursor: pointer;
}

#bgcarousel > div, #bgcarousel > div > div
{
	width: 100%;
	height: 100%;
}

#bg1
{
	background: url("../images/1.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  overflow: scroll;
}

#bg2
{
	background: url("../images/2.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  overflow: scroll;
}

#bg3
{
	background: url("../images/3.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  overflow: scroll;
}

#bg4
{
	background: url("../images/4.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  overflow: scroll;
}

#bg1 > div,
#bg2 > div,
#bg3 > div,
#bg4 > div
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#bg1 > div > h2,
#bg2 > div > h2,
#bg3 > div > h2,
#bg4 > div > h2
{
  color: #FFFFFF;
  font-size: 400%;
  font-weight: 1px;
}

#bg1 > div > div,
#bg2 > div > div,
#bg3 > div > div,
#bg4 > div > div
{
  padding-bottom: 15px;
}

.carousel-fade .carousel-inner .item 
{
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active 
{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right 
{
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right 
{
  opacity: 1;
}

.carousel-fade .carousel-control 
{
  z-index: 2;
}

#aboutpage > .jumbotron,
#testimonialspage > .jumbotron,
#contactspage > .jumbotron
{
  background-color: #000000;
  opacity: 0.8;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
  height: auto;
  font-size: 400%;
  overflow: scroll;
}

#aboutpage,
#testimonialspage,
#contactspage
{
  background-color: #FFFFFF;
  opacity: .9;
}

#aboutrow
{
  padding-bottom: 10px;
}

#aboutrow > div > div
{
  text-align: center;
}

#aboutrow > div > div > img
{
  height: 350px;
  width: 250px;
  padding-bottom: 10px;
}

#ttmonialscarousel > div > div > div
{
  padding-bottom: 20px;
  padding-top: 20px;
}

#ttmonialscarousel > div > div > div > div > h3
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#ttmonialscarousel > div > div > div > div > h4
{
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

#contactspage > div > div > div
{
  text-align: center;
  padding-bottom: 20px;
}

#contactspage > div > div > div > a > img
{
  padding-bottom: 20px;
}




