body
{
  background: url("../images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bgcarousel > div, #bgcarousel > div > div
{
	width: 100%;
	height: 100%;
}

#bg1
{
	background: url("../images/1.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#bg2
{
	background: url("../images/2.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#bg3
{
	background: url("../images/3.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#bg4
{
	background: url("../images/4.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.carousel-fade .carousel-inner .item 
{
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active 
{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right 
{
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right 
{
  opacity: 1;
}

.carousel-fade .carousel-control 
{
  z-index: 2;
}

#aboutpage > .jumbotron,
#testimonialspage > .jumbotron,
#contactspage > .jumbotron
{
  background-color: #000000;
  opacity: 0.8;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
  height: auto;
  font-size: 400%;
}

#aboutpage,
#testimonialspage,
#contactspage
{
  background-color: #FFFFFF;
  opacity: .9;
}

#aboutrow
{
  padding-bottom: 10px;
}

#aboutrow > div > div
{
  text-align: center;
}

#aboutrow > div > div > img
{
  height: 350px;
  width: 250px;
  padding-bottom: 10px;
}

#ttmonialscarousel > div > div > div
{
  padding-bottom: 20px;
  padding-top: 20px;
}

#ttmonialscarousel > div > div > div > div > h3
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#ttmonialscarousel > div > div > div > div > h4
{
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

#contactspage > div > div > div
{
  text-align: center;
  padding-bottom: 20px;
}

#contactspage > div > div > div > a > img
{
  padding-bottom: 20px;
}




